In [ ]:
print("hello, world!")

hello, world!

> Exwcute Python Syntax

In [ ]:
if 5 > 2:
    print("five is greater than two!")

five is greater than two!

In [ ]:
if 5 < 2:
    print("five is less than two!")

In [ ]:
if 5 < 6:
    print("six is less than five!")

six is less than five!

In [ ]:
if 5 > 2:
print("five is greater than two")

IndentationError: expected an indented block after 'if' statement on line 1 (2485897201.py, line 2)

In [ ]:
if 5 > 2:
  print("five is greater than two")
if 5 > 2:
        print("five is greater than two")

five is greater than two
five is greater than two

In [ ]:
if 5 > 2:
 print("five is greater than two")   
        print("five is greater than two")

IndentationError: unexpected indent (4171000324.py, line 3)

* Python Variables

In [ ]:
x = 5
y = "hello, world!"

print(x)
print(y)

5
hello, world!

> Creating a Comments

In [ ]:
# This is a comment
print("hello, world!")

hello, world!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("hello, world!")

hello, world!

> Python Variables

In [ ]:
x = 5
y = "Dhrumil"
print(x)
print(y)

5
Dhrumil

In [ ]:
x = 4      #x is of type int
x = "Jeel" #x is now of type str
print(x)

Jeel

In [ ]:
x = str(3)     #x will be "3"
y = int(3)     #x will be 3
z = float(3)   #x will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

* Get the Type

In [ ]:
x = 5
y = "Dhru"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

* Double quotes are the same as single quotes

In [ ]:
x = "Dhru"
print(x)
x = 'Dhru'
print(x)

Dhru
Dhru

In [ ]:
# A will not overwrite a
a = 5
A = "Nike"

print(a)
print(A)

5
Nike

* Variable Names (How to type a Variable)

In [ ]:
myvar = "Dhru"
my_var = "Dhru"
_my_var = "Dhru"
myVar = "Dhru"
MYVAR = "Dhru"
myvar2 = "Dhru"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

Dhru
Dhru
Dhru
Dhru
Dhru
Dhru

In [ ]:
2myvar = "Dhru"
my-var = "Dhru"
my var = "Dhru"

SyntaxError: invalid decimal literal (731218861.py, line 1)

In [ ]:
# Assign Multiple values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
accounts = int(34)
Maths = int(65)
Gujarati = int(75)
English = int(85)


if a :
    print("Greade C")
elif a == 45:
    print("Greade C")
else:
    print("Marks are Up than 45")

Greade C

In [ ]:
d = int(input("Enter the days: "))

years = int(d / 365)

month = int(d % 365) // 30

print("years:",years)
print("months:",month)

years: 1
months: 2

In [ ]:
y = int(input("input the year: "))

days = int(y * 365)
print("days:",days)

days: 730

In [ ]:
year = int(input("Enter the year: "))

if (year % 400 == 0) and (year % 100 == 0):
    print(f"year: {year} - is a leap year")
elif (year % 4 == 0):
    print(f"year: {year} - is a leap year")
else:
    print(f"year: {year} - is not a leap year")

year: 2024 - is a leap year

In [ ]:
a = int(input("enter num 1: "))
b = int(input("enter num 2: "))
c = int(input("enter num 3: "))

if (a > b and a > c):
    print(f"Num 1= {a} Is Greatest")
elif(b > a and b > c):
    print(f"Num 2= {b} Is Greatest")
elif(c > b and c > a):
    print(f"Num 3= {c} Is Greatest")
else:
    print("All numbers are same")

Num 1= 500 Is Greatest

In [ ]:
m1 = int(input("Enter marks of exam 1: "))

if (m1 >= 40):
    m2 = int(input("Enter marks of exam 2: "))
    if (m2 >= 40):
        m3 = int(input("Enter marks of exam 3: "))
        if (m3 >= 40):
            m4 = int(input("Enter marks of exam 4: "))
            if (m4 >=55):
                print("You have Successfully pass the exam")
            else:
                print("Failed")
        else:
            print("Failed")    
    else:
        print("Failed")
else:
    print("Failed")

You have Successfully pass the exam

In [4]:
n1 = int(input("Enter marks of exam 1: "))

if (n1 >= 40):
    n2 = int(input("Enter marks of exam 2: "))
    if (n2 >= 40):
        n3 = int(input("Enter marks of exam 3: "))
        if (n3 >= 40):
            n4 = int(input("Enter marks of exam 4: "))
            if (n4 >= 55):
                print("You have successfully pass the exam")
        else:
            print("Failed")
    else:
        print("Failed")
else:
    print("Failed")

Failed

In [ ]:
s1 = int(input("Enter marks 1: "))
s2 = int(input("Enter marks 2: "))
s3 = int(input("Enter marks 3: "))
s4 = int(input("Enter marks 4: "))
s5 = int(input("Enter marks 5: "))

per = ((s1+s2+s3+s4+s5)*100)/500

print("percentage: ",per)

if (per >= 40 and per <=60):
    print("C grade")
elif (per >= 61 and per <= 80):
    print("B Grade")
elif (per >= 81 and per <= 100):
    print("A Grade")
else:
    print("Failed")

percentage:  83.8
A Grade

In [ ]:
num = int(input("Enter age: "))

if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Bye

In [ ]:
num = int(input("Enter a num: "))

if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Even Number

In [ ]:
a = int(input("Enter num 1: "))
b = int(input("Enter num 2: "))
c = int(input("Enter num 3: "))

if (a > b and a > c):
    print(f"Num 1= {a} Is Largest")
elif (b > a and b > c):
    print(f"Num 2= {b} Is Largest")
elif (c > a and c > b):
    print(f"Num 3= {c} Is Largest")
else:
    print("All numbers are same")

Num 2= 70 Is Largest

In [ ]:
a = int(input("Enter num 1: "))
b = int(input("Enter num 2: "))
c = int(input("Enter num 3: "))

if a>b:
    if a>c:
        print("A is largest")
    else:
        print("C is largest")
else:
    if b>c:
        print("B is largest")
    else:
        print("C is largest")

B is largest

In [ ]:
a = int(input("Enter num 1: "))
b = int(input("Enter num 2: "))
c = int(input("Enter num 3: "))

if a < b:
    if a < c:
        print(f"Num 1= {a} is smallest")
    else:
        print(f"Num 3= {c} is smallest")
else:
    if b < c:
        print(f"Num 2= {b} is smallest")
    else:
        print(f"Num 3= {c} is smallest")

Num 2= 10 is smallest

In [ ]:
for i in range(1,11):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(1,11):
    print(i,")","Hello")

1 ) Hello
2 ) Hello
3 ) Hello
4 ) Hello
5 ) Hello
6 ) Hello
7 ) Hello
8 ) Hello
9 ) Hello
10 ) Hello

In [ ]:
print("Tital used tiles: ",9*7 + 7*5)

print("Left over tiles: ", 17*6 - (7*9 + 7*5))

Tital used tiles:  98
Left over tiles:  4

In [ ]:
print("Average monthly electricity over the three months: ", (23 + 32 + 64)/3)

Average monthly electricity over the three months:  39.666666666666664

In [ ]:
a = int(input("Enter num:"))

for i in range(1,11):
    print(f"{a} * {i} = {a*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
list1 = [12,15,18,23,54,55,98,63,100,86]

even_n,odd_n = 0,0

for num in list1:

    if num % 2 == 0:
        even_n += 1
    else:
        odd_n += 1

print("Even numbers in the list:",even_n)
print("Odd numbers in the list:", odd_n)

print("Sum of even & odd numbers:",even_n + odd_n)

Even numbers in the list: 6
Odd numbers in the list: 4
Sum of even & odd numbers: 10

In [ ]:
Fahrenheit = float(input("Enter value in degree fahrenheit:"))

celsius = (Fahrenheit - 32) // 1.8

print(f"the {Fahrenheit} degree fehrenheit is equal to :{celsius} celsius")

the 98.0 degree fehrenheit is equal to :36.0 celsius

In [ ]:
Fahrenheit = float(input("Enter value in degree fahrenheit:"))

celsius = (Fahrenheit - 32) * 5//9

print(f"the {Fahrenheit} degree fehrenheit is equal to :{celsius} celsius")

the 98.0 degree fehrenheit is equal to :36.0 celsius

In [ ]:
base = float(input("Enter the base of the triangle:"))
height = float(input("Enter the height of the triangle:"))

area = (base * height) / 2

print("The area of a triangle using",base,"and",height,"=",area)

The area of a triangle using 10.0 and 34.0 = 170.0

In [ ]:
length = float(input("Enter the wedth of the rectangle:"))
breadth = float(input("Enter the breadth of the rectangle:"))

area = length * breadth

print("length:",length)
print("breadth",breadth)
print(f"Area of rectangle:{area} sq. units")

length: 5.0
breadth 10.0
Area of rectangle:50.0 sq. units

In [ ]:
from math import pi

r = float(input("Enter the radius of the circle:"))

area = (pi * r ** 2)

print("The area of the circle with radius:",r, "is", area)

The area of the circle with radius: 1.1 is 3.8013271108436504

* While Loop

In [ ]:
a = 1

while a <= 10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = int(input("Enter number:"))
i=1

while i <= num:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12

In [1]:
fruits = ["Apple", "Banana", "Mango"]
x,y,z = fruits

print(x)
print(y)
print(z)

Apple
Banana
Mango

In [4]:
x = "python"
y = "is"
z = "Awesome"

print(x,y,z)

python is Awesome

In [7]:
x = "python "
y = "is "
z = "Awesome"

print(x + y + z)

python is Awesome

In [9]:
x = 5
y = 2

print(x+y)

7

In [3]:
x ="Awesome"

def myfunc():
    print("python is " + x)

myfunc()

python is Awesome

In [7]:
x = "Awesome"

def myfunc():
    x = "fantastic"
    print("python is " + x)

myfunc()
print("python is " + x)

python is fantastic
python is Awesome

In [10]:
h = "dhrumil "+ "jay" +  " parth" , " jay"
print(h)

('dhrumil jay parth', ' jay')

In [14]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("python is " + x)

python is fantastic

In [15]:
x = "Awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("python is " + x)

python is fantastic

In [16]:
x = 5
print(type(x))

<class 'int'>

In [18]:
x = {"name": "Dhrumil", "age": 23}
print(x)

{'name': 'Dhrumil', 'age': 23}

In [22]:
x = 1
y = 2.5
z = 2j

a = float(x)

b = int(y)

c = complex (x)

print(a)

print(b)

print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [23]:
a = 5+4j
print(a)

(5+4j)

In [27]:
import random
print(random.randrange(1,20))

17

In [2]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [3]:
x = float(1)
y = float(2.5)
z = float("3")
w = float("4.2")

print(x)
print(y)
print(z)
print(w)

1.0
2.5
3.0
4.2

In [4]:
x = str("s1")
y = str(2)
z = str(3.0)

print(x)
print(y)
print(z)

s1
2
3.0

In [13]:
a = "Hello, World!"
print(a[7])

W

In [14]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [16]:
a = "Hello,World!"
print(len(a))

12

In [19]:
txt = "The best things in life are free!"
print("free"in txt)

True

In [24]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'Free is present'")
else:
    print("No, 'Free is not present'")

Yes, 'Free is present'

In [32]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [37]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present")
else:
    print("Yes, 'expensive' is present")

No, 'expensive' is NOT present

In [1]:
print(10>9)
print(10==8)
print(10<8)

True
False
False

In [6]:
input("What is your superhero? ")
name = input("What is your superhero? ")
print("Hello " + name)

Hello Tony

In [8]:
old_age = input("Enter your old age: ")
new_age = int(old_age) + 2
print(new_age)

17

In [12]:
first = input("enter first number: ")
second = input("enter second number: ")

sum = int(first) + int(second)
print("the sum is: " + str(sum))

the sum is: 5

In [16]:
name = "Dhrumil Kansara"
print(name.find('K'))

8

In [18]:
name = "Tony Stark"
print(name.replace("Stark", "Ironman"))

Tony Ironman

In [22]:
name = "Tony Stark"
print('T' in name)

True

In [37]:
print(10 % 6)

4

In [32]:
i = 5
i += 2
i -= 3
print(i)

4

In [34]:
r = 2 + 3 ** 5
print(r)

245

In [35]:
print(5 ** 2)

25

In [59]:
age = 16

if age >= 18:
    print("You are an adult")
    print("You can vote")
elif age < 18 and age <= 15:
    print("you are in school")
else:
    print("You are not 18")
    print("Please wait for" ,18 - age ,"Year")
print("Thank you")

You are not 18
Please wait for 2 Year
Thank you

In [61]:
first = int(input("Enter first value: "))
operator = input("Enter operator(+,-,*,/,%): ")
second = int(input("Enter second value: "))

if operator == "+":
    print(first + second)
elif operator == "-":
    print(first - second)
elif operator == "*":
    print(first * second)
elif operator == "/":
    print(first / second)
elif operator == "%":
    print(first % second)
else:
    print("invalid operation")

8

In [2]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [11]:
i = 1
while i <= 5:
    print(i * " * ")
    i = i + 1
i = 4
while i >= 0:
    print(i * " * ")
    i = i - 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [13]:
for i in range(5):
    print(i + 1)

1
2
3
4
5

In [14]:
marks = [95,98,94]
print(marks[1])

98

In [15]:
marks = [95,96,94]

for score in marks:
    print(score)

95
96
94

In [16]:
marks = [96,99,97]
marks.append(94)
print(marks)

[96, 99, 97, 94]

In [19]:
marks = [96,99,97]
marks.insert(0,94)
print(94 in marks)

True

In [20]:
marks = [96,99,97]
print(len(marks))

3

In [21]:
print(marks)

[96, 99, 97]

In [23]:
marks = [96,99,97]
i = 0
while i < len(marks):
    print(marks[i])
    i = i+1

marks.clear()
print(marks)

96
99
97
[]

In [27]:
students = ["ram", "shyam", "kishan", "radha", "radhika"]

for student in students:
    if student == "radha":
        break;
    print(student)

ram
shyam
kishan

In [28]:
students = ["ram", "shyam", "kishan", "radha", "radhika"]

for student in students:
    if student == "kishan":
        continue;
    print(student)

ram
shyam
radha
radhika

In [33]:
marks = (94,97,93,95,95)
print(marks.count(95))
print(marks.index(97))

2
1

In [34]:
marks = {94,97,93,95,95}
print(marks)

{97, 93, 94, 95}

In [39]:
marks = {"english": 95, "chemistry": 97}
print(marks["chemistry"])

marks["physics"] = 94;
print(marks)

marks["physics"] = 99;
print(marks)

97
{'english': 95, 'chemistry': 97, 'physics': 94}
{'english': 95, 'chemistry': 97, 'physics': 99}

In [2]:
def pr_sum(first, second=4):
    print(first + second)

pr_sum(2)

6

In [4]:
x = lambda a, b:a * b
print(x(2,6))

12

In [9]:
x = lambda a: a + 10
print(x(5))

15

In [10]:
x = lambda a,b,c: a + b + c
print(x(2,4,6))

12

In [17]:
import random

print(random.randrange(1, 10))

5

In [18]:
a = "Hello, World!"
print(a[1])

e

In [19]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [24]:
for x in "banana":
    print(x, end = " ")

b a n a n a

In [25]:
a = "Hello, World!"
print(len(a))

13

In [28]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [5]:
b = "hello, world!"
print(b[7:])

world!

In [10]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [11]:
b = "Hello, World!"
print(b[2:5])

llo

In [12]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [13]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [14]:
a = "   Hello, World!"
print(a.strip()) #Remove a white space

Hello, World!

In [18]:
a = "Hello, World!"
print(a.replace("H", "K"))

Kello, World!

In [22]:
a = "    Hello, World!    "
print(a.rstrip())

    Hello, World!

In [23]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [25]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [27]:
a = "Hello"
b = "World"
c = a +" "+ b
print(c)

Hello World

In [43]:
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <= 1000:
        return product
    else:
        return num1 + num2
    
result = multiplication_or_sum(20, 30)
print("The result is", result)

result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

In [49]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

for i in range(1,12):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number", previous_num, "-Sum: ", x_sum)
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number 0 -Sum:  1
Current Number 2 Previous Number 1 -Sum:  3
Current Number 3 Previous Number 2 -Sum:  5
Current Number 4 Previous Number 3 -Sum:  7
Current Number 5 Previous Number 4 -Sum:  9
Current Number 6 Previous Number 5 -Sum:  11
Current Number 7 Previous Number 6 -Sum:  13
Current Number 8 Previous Number 7 -Sum:  15
Current Number 9 Previous Number 8 -Sum:  17
Current Number 10 Previous Number 9 -Sum:  19
Current Number 11 Previous Number 10 -Sum:  21

In [56]:
a = input("Enter Name: ")
print("Original string: ", a)
s = len(a)

print("Printing only even index chars")
for i in range(0,s -1, 2):
    print("index[", i,"]", a[i])

Original string:  Dhrumil
Printing only even index chars
index[ 0 ] D
index[ 2 ] r
index[ 4 ] m

In [63]:
w = input("Enter word: ")
print("Original String:", w)

x = list(w)
for i in x[0:-1:2]:
    print(i, end = " ")

Original String: Dhrumil
D r m

In [65]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x
print("Removing characters from a string")
print(remove_chars("Dhrumil", 4))
print(remove_chars("Dhrumil", 2))

Removing characters from a string
Original string: Dhrumil
mil
Original string: Dhrumil
rumil

In [66]:
def first_last_name(numberlist):
    print("Given list:", numberlist)

    first_num = numberlist[0]
    last_num = numberlist[-1]

    if first_num == last_num:
        return True
    else:
        return False
    
numbers_x = [33,44,55,66,33]
print("result is", first_last_name(numbers_x))


numbers_y = [75,64,27,39,34]
print("result is", first_last_name(numbers_y))

Given list: [33, 44, 55, 66, 33]
result is True
Given list: [75, 64, 27, 39, 34]
result is False

In [71]:
num_list = [25,80,48,15,40,98,73,61]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [25, 80, 48, 15, 40, 98, 73, 61]
Divisible by 5:
25
80
15
40

In [1]:
str_x = "Emma is good developer. Emma is a writer"
cnt = str_x.count("Emma")
print(cnt)

2

In [2]:
def count_emma(statement):
    print("Given String: ", statement)
    count = 0
    for i in range(len(statement) -1):
        count += statement[i: i + 4] == 'Emma'
    return count

count = count_emma("Emma is good developer. Emma is a writer")
print("Emma appeared ", count, "times")

Given String:  Emma is good developer. Emma is a writer
Emma appeared  2 times

In [6]:
for num in range(10):
    for i in range(num):
        print(num, end= " ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [11]:
def palindrome(number):
    print("original number", number)
    original_num = number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    if original_num == reverse_num:
        print("Given number palindrome")

    else:
        print("Given number is not palindrome")

palindrome(979)
palindrome(457)

original number 979
Given number palindrome
original number 457
Given number is not palindrome

In [14]:
def merge_list(list1, list2):
    result_list = []

    for num in list1:
        if num % 2 != 0:
            result_list.append(num)

    for num in list2:
        if num % 2 == 0:
            result_list.append(num)
    return result_list
list1 = [10,20,25,30,35]
list2 = [40,45,60,75,90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]