In [ ]:
print("hello, world!")

hello, world!

> Exwcute Python Syntax

In [ ]:
if 5 > 2:
    print("five is greater than two!")

five is greater than two!

In [ ]:
if 5 < 2:
    print("five is less than two!")

In [ ]:
if 5 < 6:
    print("six is less than five!")

six is less than five!

In [ ]:
if 5 > 2:
print("five is greater than two")

IndentationError: expected an indented block after 'if' statement on line 1 (2485897201.py, line 2)

In [ ]:
if 5 > 2:
  print("five is greater than two")
if 5 > 2:
        print("five is greater than two")

five is greater than two
five is greater than two

In [ ]:
if 5 > 2:
 print("five is greater than two")   
        print("five is greater than two")

IndentationError: unexpected indent (4171000324.py, line 3)

* Python Variables

In [ ]:
x = 5
y = "hello, world!"

print(x)
print(y)

5
hello, world!

> Creating a Comments

In [ ]:
# This is a comment
print("hello, world!")

hello, world!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("hello, world!")

hello, world!

> Python Variables

In [ ]:
x = 5
y = "Dhrumil"
print(x)
print(y)

5
Dhrumil

In [ ]:
x = 4      #x is of type int
x = "Jeel" #x is now of type str
print(x)

Jeel

In [ ]:
x = str(3)     #x will be "3"
y = int(3)     #x will be 3
z = float(3)   #x will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

* Get the Type

In [ ]:
x = 5
y = "Dhru"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

* Double quotes are the same as single quotes

In [ ]:
x = "Dhru"
print(x)
x = 'Dhru'
print(x)

Dhru
Dhru

In [ ]:
# A will not overwrite a
a = 5
A = "Nike"

print(a)
print(A)

5
Nike

* Variable Names (How to type a Variable)

In [ ]:
myvar = "Dhru"
my_var = "Dhru"
_my_var = "Dhru"
myVar = "Dhru"
MYVAR = "Dhru"
myvar2 = "Dhru"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

Dhru
Dhru
Dhru
Dhru
Dhru
Dhru

In [ ]:
2myvar = "Dhru"
my-var = "Dhru"
my var = "Dhru"

SyntaxError: invalid decimal literal (731218861.py, line 1)

In [ ]:
# Assign Multiple values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
accounts = int(34)
Maths = int(65)
Gujarati = int(75)
English = int(85)


if a :
    print("Greade C")
elif a == 45:
    print("Greade C")
else:
    print("Marks are Up than 45")

Greade C

In [ ]:
d = int(input("Enter the days: "))

years = int(d / 365)

month = int(d % 365) // 30

print("years:",years)
print("months:",month)

years: 1
months: 2

In [ ]:
y = int(input("input the year: "))

days = int(y * 365)
print("days:",days)

days: 730

In [ ]:
year = int(input("Enter the year: "))

if (year % 400 == 0) and (year % 100 == 0):
    print(f"year: {year} - is a leap year")
elif (year % 4 == 0):
    print(f"year: {year} - is a leap year")
else:
    print(f"year: {year} - is not a leap year")

year: 2024 - is a leap year

In [ ]:
a = int(input("enter num 1: "))
b = int(input("enter num 2: "))
c = int(input("enter num 3: "))

if (a > b and a > c):
    print(f"Num 1= {a} Is Greatest")
elif(b > a and b > c):
    print(f"Num 2= {b} Is Greatest")
elif(c > b and c > a):
    print(f"Num 3= {c} Is Greatest")
else:
    print("All numbers are same")

Num 1= 500 Is Greatest

In [ ]:
m1 = int(input("Enter marks of exam 1: "))

if (m1 >= 40):
    m2 = int(input("Enter marks of exam 2: "))
    if (m2 >= 40):
        m3 = int(input("Enter marks of exam 3: "))
        if (m3 >= 40):
            m4 = int(input("Enter marks of exam 4: "))
            if (m4 >=55):
                print("You have Successfully pass the exam")
            else:
                print("Failed")
        else:
            print("Failed")    
    else:
        print("Failed")
else:
    print("Failed")

You have Successfully pass the exam

In [4]:
n1 = int(input("Enter marks of exam 1: "))

if (n1 >= 40):
    n2 = int(input("Enter marks of exam 2: "))
    if (n2 >= 40):
        n3 = int(input("Enter marks of exam 3: "))
        if (n3 >= 40):
            n4 = int(input("Enter marks of exam 4: "))
            if (n4 >= 55):
                print("You have successfully pass the exam")
        else:
            print("Failed")
    else:
        print("Failed")
else:
    print("Failed")

Failed

In [ ]:
s1 = int(input("Enter marks 1: "))
s2 = int(input("Enter marks 2: "))
s3 = int(input("Enter marks 3: "))
s4 = int(input("Enter marks 4: "))
s5 = int(input("Enter marks 5: "))

per = ((s1+s2+s3+s4+s5)*100)/500

print("percentage: ",per)

if (per >= 40 and per <=60):
    print("C grade")
elif (per >= 61 and per <= 80):
    print("B Grade")
elif (per >= 81 and per <= 100):
    print("A Grade")
else:
    print("Failed")

percentage:  83.8
A Grade

In [ ]:
num = int(input("Enter age: "))

if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Bye

In [ ]:
num = int(input("Enter a num: "))

if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Even Number

In [ ]:
a = int(input("Enter num 1: "))
b = int(input("Enter num 2: "))
c = int(input("Enter num 3: "))

if (a > b and a > c):
    print(f"Num 1= {a} Is Largest")
elif (b > a and b > c):
    print(f"Num 2= {b} Is Largest")
elif (c > a and c > b):
    print(f"Num 3= {c} Is Largest")
else:
    print("All numbers are same")

Num 2= 70 Is Largest

In [ ]:
a = int(input("Enter num 1: "))
b = int(input("Enter num 2: "))
c = int(input("Enter num 3: "))

if a>b:
    if a>c:
        print("A is largest")
    else:
        print("C is largest")
else:
    if b>c:
        print("B is largest")
    else:
        print("C is largest")

B is largest

In [ ]:
a = int(input("Enter num 1: "))
b = int(input("Enter num 2: "))
c = int(input("Enter num 3: "))

if a < b:
    if a < c:
        print(f"Num 1= {a} is smallest")
    else:
        print(f"Num 3= {c} is smallest")
else:
    if b < c:
        print(f"Num 2= {b} is smallest")
    else:
        print(f"Num 3= {c} is smallest")

Num 2= 10 is smallest

In [ ]:
for i in range(1,11):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(1,11):
    print(i,")","Hello")

1 ) Hello
2 ) Hello
3 ) Hello
4 ) Hello
5 ) Hello
6 ) Hello
7 ) Hello
8 ) Hello
9 ) Hello
10 ) Hello

In [ ]:
print("Tital used tiles: ",9*7 + 7*5)

print("Left over tiles: ", 17*6 - (7*9 + 7*5))

Tital used tiles:  98
Left over tiles:  4

In [ ]:
print("Average monthly electricity over the three months: ", (23 + 32 + 64)/3)

Average monthly electricity over the three months:  39.666666666666664

In [ ]:
a = int(input("Enter num:"))

for i in range(1,11):
    print(f"{a} * {i} = {a*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
list1 = [12,15,18,23,54,55,98,63,100,86]

even_n,odd_n = 0,0

for num in list1:

    if num % 2 == 0:
        even_n += 1
    else:
        odd_n += 1

print("Even numbers in the list:",even_n)
print("Odd numbers in the list:", odd_n)

print("Sum of even & odd numbers:",even_n + odd_n)

Even numbers in the list: 6
Odd numbers in the list: 4
Sum of even & odd numbers: 10

In [ ]:
Fahrenheit = float(input("Enter value in degree fahrenheit:"))

celsius = (Fahrenheit - 32) // 1.8

print(f"the {Fahrenheit} degree fehrenheit is equal to :{celsius} celsius")

the 98.0 degree fehrenheit is equal to :36.0 celsius

In [ ]:
Fahrenheit = float(input("Enter value in degree fahrenheit:"))

celsius = (Fahrenheit - 32) * 5//9

print(f"the {Fahrenheit} degree fehrenheit is equal to :{celsius} celsius")

the 98.0 degree fehrenheit is equal to :36.0 celsius

In [ ]:
base = float(input("Enter the base of the triangle:"))
height = float(input("Enter the height of the triangle:"))

area = (base * height) / 2

print("The area of a triangle using",base,"and",height,"=",area)

The area of a triangle using 10.0 and 34.0 = 170.0

In [ ]:
length = float(input("Enter the wedth of the rectangle:"))
breadth = float(input("Enter the breadth of the rectangle:"))

area = length * breadth

print("length:",length)
print("breadth",breadth)
print(f"Area of rectangle:{area} sq. units")

length: 5.0
breadth 10.0
Area of rectangle:50.0 sq. units

In [ ]:
from math import pi

r = float(input("Enter the radius of the circle:"))

area = (pi * r ** 2)

print("The area of the circle with radius:",r, "is", area)

The area of the circle with radius: 1.1 is 3.8013271108436504

* While Loop

In [ ]:
a = 1

while a <= 10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = int(input("Enter number:"))
i=1

while i <= num:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12

In [1]:
fruits = ["Apple", "Banana", "Mango"]
x,y,z = fruits

print(x)
print(y)
print(z)

Apple
Banana
Mango

In [4]:
x = "python"
y = "is"
z = "Awesome"

print(x,y,z)

python is Awesome

In [7]:
x = "python "
y = "is "
z = "Awesome"

print(x + y + z)

python is Awesome

In [9]:
x = 5
y = 2

print(x+y)

7

In [3]:
x ="Awesome"

def myfunc():
    print("python is " + x)

myfunc()

python is Awesome

In [7]:
x = "Awesome"

def myfunc():
    x = "fantastic"
    print("python is " + x)

myfunc()
print("python is " + x)

python is fantastic
python is Awesome

In [10]:
h = "dhrumil "+ "jay" +  " parth" , " jay"
print(h)

('dhrumil jay parth', ' jay')

In [14]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("python is " + x)

python is fantastic